.text {
  color: white;
  border-width: -5px;
  border-color: blue;
  border-style: solid;
}


.ProjList {
  list-style-type: none;
}
.ProjList li:before {
  content: "\2014";
  position: absolute;
  margin-left: -30px;
}

.Contacts {
  color: white;
  text-align: center;
  padding-bottom: 5%;
  padding-top: 2%;
}

.Contacts a {
  color: hotpink;
  text-align: center;
  font-size: 150%;
}

button#offCanvasButton {
  visibility: visible;
  position: fixed;
  font-size: 50px;
  transform: translate(-5px, 50vh);
  background: transparent;
  border: none;
  transition: 0.2s ease-in-out 0s;
}
button#offCanvasButton:hover {
  cursor: pointer;
  transform: translate(5px, 50vh) scale(1.25);
  color: #111;
}

@media only screen and (max-width: 690px) {
  button#offCanvasButton {
    visibility: hidden;
  }
}

#accelerate {
  will-change: transform;
}

.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 1.75rem auto;
}

#home {
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-left: 2px solid rgb(175, 175, 175);
  border-right: 2px solid rgb(175, 175, 175);
  border-top: 0px none black;
  border-bottom: 0px none black;
  box-shadow: #858585 0px 0px 10px;
  border-radius: 20px;
}